body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #808b96;
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
}

.calculator {
  background-color:#17202a ;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 20px #00f0ff;
  width: 320px;
}

#display {
  width: 100%;
  height: 60px;
  font-size: 28px;
  margin-bottom: 15px;
  text-align: right;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: black;
  color: #0f0;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

.btn {
  padding: 20px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: #424949;
  color: white;
  transition: 0.2s;
}

.btn:hover {
  background-color: #444;
}

.operator {
  background-color: #1b4f72;
}

.equal {
  background-color: #78281f;
  grid-column: span 2;
}
